*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ******* GLOBAL VALUES ******* */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Remove Default Button Styles */
button {
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/* button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  } */

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

:root {
  --parrallax-value: 100px;
}

body {
  /* Paper Texture */
  /* background-color:#F4F4F6; */
  /* background: url("./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg"); */
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/backgroundTest1.PNG");
  background-repeat: repeat;

  color: rgb(128, 128, 128);
  overflow-x: hidden;
  max-width: 100vw;
}



.background-texture img {
  position: absolute;
  width: 100vw;
  height: 100%;

  /* background-image: url("./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg"); */
  /* background-color: orange; */
  filter: grayscale(100%);
  background-repeat: repeat;
  opacity: 0.5;
}
/* ************************ SIDEBAR *********************************************/

.sidebar{
  z-index: 20;
  min-width: 100vw;
  min-height: 100vh;
  
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

}

.visibility-hidden{
  visibility: hidden;
}

.navigation-container{
  display: flex;
  justify-content: stretch;
  /* align-content: center; */
  align-items: center;
  flex-direction: column;
  width: 50%; 
  min-height: 100vh;

  /* transform: translateX(-50%); */
  /* border: red 2px solid; */

  
}
.sidebar-logo{
  display: flex;
  width: 100%;
  min-height: 45vh;
  
  background-image: url("./images/stamp.jpg");
  background-size:  contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-top: 30px;

}

.sidebar-logo > img{
  width: 15%;
  /* background-size: cover; */
  /* max-height: 50%; */
  
  /* background-position: center; */
} 

* a{
  text-decoration: none;
  color: black;
}
.navigation-text{
  transform: rotateZ(90deg);

  padding-left: 60px;
  letter-spacing: 3.2px;
  line-height: 48px;
}
.navigation-text h4{
  font-style: normal;
  font-weight: 150;
  padding: 10px 20px;
  font-size: 18px;
}


.cross-button{
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: 0.23s linear;
  cursor: pointer;
}
.cross-button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate3d(-50%,-50%,0);
  background-color: red;
  opacity: 0.0;
}
.cross-button:hover {
  transform: rotateZ(180deg);
}

.cross-line-1{
  height: 1px;
  width: 80px;
  background-color: black;
  transform: rotateZ(45deg);
}
.cross-line-2{
  height: 1px;
  width: 80px;
  background-color: black;
  transform: rotateZ(-45deg);
}

/* ************************ HEADER / SHIFTING IMAGES ****************************/


.logo {
  z-index: 19;
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 20px;
}
.logo img {
  width: 90px;
  height: auto;
}

.header {
  /* border: brown 2px solid; */
  overflow: hidden;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
.toggleNavButton .toggle-btn {
  position: fixed;
  top: 2%;
  right: 3%;
  padding: 20px;
}

.shifting-backgrounds {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  z-index: -8;
  overflow: hidden;
}
.shifting-backgrounds img {
  max-width: 100%;
  overflow: hidden;

  position: relative;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100%;
  /* opacity: 0; */
  /* transition: all 3.0s ease-in-out; */
}
.imgAnimation {
  /* opacity: 1; */
  animation-fill-mode: forwards;
  animation: mymove 4s infinite ease-in-out;
  animation-delay: 0s;
}

.fade {
  opacity: 1;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  animation: hide 0.5s;
  animation-fill-mode: both;
}
@keyframes hide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
.show {
  animation: show 0.5s;
  animation-fill-mode: both;
}
@keyframes show {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* *********************************  ABOUT ****************************/

.about-section {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-img {
  width: 37%;
}
.about-img img {
  width: 100%;
}

.about-text {
  margin-top: 60px;
  transform: translateY(var(--parralax-value));
  width: 50%;
  /* background-color: blueviolet; */
}
.horizontal-divider {
  background-color: rgb(201, 201, 201);
  width: 200px;
  height: 2px;
  border-radius: 50%;
}
.about-text h5 {
  padding: 20px 20px;
  padding-top: 100px;
  font-weight: 800;
  font-size: 52px;
  font-style: italic;
  font-style: bold;
  letter-spacing: 3.2px;
  text-decoration: rgb(128, 128, 128);
  line-height: 72px;
}
.about-text h3 {
  font-style: normal;
  font-weight: 400;
  padding: 10px 20px;
  font-size: 20px;
}

.parallax-scroll {
  padding: 20px;
  margin: 10px 20px;
  padding-left: 10px;
  margin-left: 10px;
  color: black;
  font-size: 12px;
  line-height: 24px;
  font-weight: 200;

  padding-bottom: 0;
  margin-bottom: 0;
}

.about-section .about-img {
  padding: 20px;
}
/* *********************************  Paint-Section ****************************/
.paint-section {
  position: relative;
  width: 100vw;
}
.paint-section > h5 {
  padding-top: 0;
  font-weight: 600;
}

.left-container {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20%;
  /* margin-right: 0; */
}
.dual-paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: start;

  margin-top: 90px;
  /* align-content: center; */
}

.paint-section.about-text.left-container > img {
  /* margin-top: 160px; */
  max-height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  margin: 0;
}

.btn {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 3.2px;
  /* line-height: 42px; */
  color: white;
  background-color: black;

  margin-top: 90px;
  margin-left: 20px;

  /* margin: 0 0 30px 0; */
  padding: 20px 55px;
}

/* *********************************  REVERBERATE ****************************/
.reverberate-section {
  margin: 200px 0;
  /* margin-top: 200px; */
  padding: 0 50px;
  width: 100vw;
}
.title {
  /* float: right; */
  max-width: 30%;
  margin-left: 63%;
  transform: translateX(-50%);
  /* margin-right: 10%; */
}
/* .title::after{
  float: none;
} */
.title-text {
  padding: 20px 20px;
  padding-top: 100px;
  font-weight: 800;
  font-size: 72px;
  font-style: italic;
  font-style: bold;
  letter-spacing: 3.2px;
  text-decoration: rgb(128, 128, 128);
  line-height: 72px;
}

.title-text h3 {
  font-style: normal;
  font-weight: 400;
  padding: 10px 20px;
  font-size: 20px;
}

.dual-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.dual-containers > img {
  flex-grow: 3;
  max-width: 40%;
  padding: 30px 50px;
}

.text-reverberate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.text-reverberate > .left-quotation {
  text-align: center;
  align-self: flex-start;
  flex-grow: 1;
  /* height: 100; */
}
.text-reverberate > .middle-quotation {
  align-self: stretch;
  flex-grow: 2;
}
.text-reverberate > .right-quotation {
  text-align: center;
  /* align-self: flex-end; */
  align-items: flex-end;
  flex-grow: 1;
  max-height: 100%;
}

/* .middle-block > .parallax-scroll {
  font-size: 14px;
} */

.slide {
  font-size: 14px;
  display: none;
}
.show-slide {
  display: block;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.dot {
  margin: 30px 25px;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}
.active {
  background-color: red;
}

.big-quotation {
  font-family: "DM Serif Display", serif;
  /* font-family: 'Gayathri', sans-serif; */
  /* font-weight: 800; */
  font-size: 180px;
  font-style: italic;
  /* font-style: bold; */
  letter-spacing: 30px;
  text-decoration: #e0e0e0;
  /* line-height: 72px; */
  opacity: 0.1;
}

.footer {
  float: right;
  padding: 20px 10px;
}

