/* *********************************  REVERBERATE ****************************/
.reverberate-section {
  margin: 200px 0;
  padding: 0 50px;
  width: 100vw;
}
.title {
  width: 30%;
  margin-left: 52%;
}

.title-text {
  padding: 20px 20px;
  padding-top: 100px;
  font-weight: 800;
  font-size: 72px;
  font-style: italic;
  font-style: bold;
  letter-spacing: 3.2px;
  text-decoration: rgb(128, 128, 128);
  line-height: 72px;
}

.title-text h3 {
  font-style: normal;
  font-weight: 400;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.dual-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dual-containers > img {
  flex-grow: 3;
  max-width: 40%;
  padding: 30px 50px;
}

.text-reverberate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.text-reverberate > .left-quotation {
  text-align: center;
  align-self: flex-start;
  flex-grow: 1;
}
.text-reverberate > .middle-quotation {
  align-self: stretch;
  flex-grow: 2;
}
.text-reverberate > .right-quotation {
  text-align: center;
  align-items: flex-end;
  flex-grow: 1;
  max-height: 100%;
}

.slide {
  font-size: 14px;
  display: none;
}
.show-slide {
  display: block;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.dot {
  margin: 30px 25px;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}
.dot-active {
  background-color: red;
}

.big-quotation {
  font-family: "DM Serif Display", serif;
  font-size: 180px;
  font-style: italic;
  letter-spacing: 30px;
  text-decoration: #e0e0e0;
  opacity: 0.1;
}
