/* *********************************  ABOUT ****************************/

.about-section {
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .about-img {
    width: 37%;
  }
  .about-img img {
    width: 100%;
  }
  
  .about-text {
    margin-top: 60px;
    transform: translateY(var(--parralax-value));
    width: 50%;
    /* background-color: blueviolet; */
  }
  .horizontal-divider {
    background-color: rgb(201, 201, 201);
    width: 200px;
    height: 2px;
    border-radius: 50%;
  }
  .about-text h5 {
    padding: 20px 20px;
    padding-top: 100px;
    font-weight: 800;
    font-size: 52px;
    font-style: italic;
    font-style: bold;
    letter-spacing: 3.2px;
    text-decoration: rgb(128, 128, 128);
    line-height: 72px;
  }
  .about-text h3 {
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 20px;
  }
  
  .parallax-scroll {
    padding: 20px;
    margin: 10px 20px;
    padding-left: 10px;
    margin-left: 10px;
    color: black;
    font-size: 12px;
    line-height: 24px;
    font-weight: 200;
  
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .about-section .about-img {
    padding: 20px;
  }